/config/Format.xml
/config/Openbravo.properties
/build/
/WebContent/
/src-core/build/
/src-db/build/
/src-gen/
/src-trl/build/
/src-wad/build/
/srcAD/
/config/checksums
*.log
/lib/openbravo.war
/backup_install/
/.settings/
/legal/
*.obx
